html {
    scroll-behavior: smooth;
  }
  section{
    width: 100%;
  }
  body {
      margin: 0;
      display: flex;
      flex-direction: column;
    }
    .grid {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        -moz-column-gap: 20px;
             column-gap: 20px;
      }
      
      .container {
        padding-left: 70px;
        padding-right: 70px;
      }
      
      .maxw {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
      }

      .navbar{
        z-index: 10;
          height: 90px;
          width: 90%;
          background-color: white;
          display: flex;
          padding-left: 5%;
          padding-right: 5%;
          align-items: center;
          justify-content: space-between;
      transition: 1s, background-color 0s;
      overflow: hidden;
      div{
        display: flex;
      }
      }
      .shoping{
        cursor: pointer;
        height: 25px;
        width: 30px;
        margin-top: -4px;
        
        
      }
      .dot{
        display: flex !important;
        width: 18px;
        height: 18px;
        text-align: center;
        border-radius: 50%;
        display: flex !important;
        background-color: #950000;
        margin-right: 50px;
        margin-left: -20px;
        margin-top: 10px;
        font-size: 13px;
      justify-content: center;
        color: white;
      }
      .han-menu{
        cursor: pointer;
        position: relative;
        display: flex;
        width: 39px !important;
        height: 22px;
        
        transition: all .5s ease-in-out;
        align-items: center;
      }
      .han-burger{
        margin-left: 0 !important;
        width: 100%;
      height: 3px;
      background-color: black;
      transition: all .5s ease-in-out;
      }
      .han-burger::before,.han-burger::after{
        margin-left: 0 !important;
        position: absolute;
        content: "";
        display:block !important;
        width: 100%;
      height: 3px ;
      background-color: black;
      transition: all .5s ease-in-out;
      }
      .han-burger::before{
        transform: translateY(-6px - 3px);
      }
      .han-burger::after{
        transform: translateY(6px + 3px );
      }
      .menu-active .han-burger {
        transform: translateX(-50px);
        background-color: transparent !important;
      }
      .menu-active .han-burger::before {
        transform: rotate(45deg) translate(35px, -35px);
        background-color: white;
      }
      .menu-active .han-burger::after {
        background-color: #FFFFFF;
        transform: rotate(-45deg) translate(35px, 35px);
      }
      .menu-full {
        display: flex;
        position: fixed;
        height: auto;
        width: 100%;
        flex-direction: column;
        z-index: 10;
        transition: 1s ease-in-out;
        background-color: #0B0D26;;
      }
      .menu-div::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
      .menu-div{
        h3:first-of-type{
            margin-top: 69px;
        }
        -ms-overflow-style: none; 
      scrollbar-width: none;
        overflow: scroll;
      height: 0;
      transition:  0.25s ;
      width: 100%;
      opacity: 0.8;
      z-index: 10;
      justify-content: baseline;
      display: flex;
      flex-direction: column;
      h3{
        cursor: pointer;
        height: fit-content;
        grid-column: span 12;
        font-style: normal;
      font-weight: 400;
      font-size: 45px;
      line-height: 172%;
      /* or 77px */
      
      letter-spacing: 0.03em;
      }
      }
      .menu-active{
      .navbar{
      box-shadow: none !important;
      background-color: #0B0D26;
      }
      .shoping{
        fill:white;
      }
      h3{
        color: white;
      }
      .logo{
        img{
          fill:white;
        }
       
      }
        .menu-div{
            height: calc(100vh - 90px);
        }
        h3{
          margin-bottom: 0;
        }
        .han-burger{
            transform: translateX(-50px);
            background-color: transparent !important;
        }
        .han-burger::before{
            transform: rotate(45deg) translate(35px, -35px);
            
        }
        .han-burger::after{
            transform: rotate(-45deg) translate(35px, 35px);
            
        }
      }
      .stop-sroll {
        overflow-y: hidden !important;
      }   
      
//Content
.simple-head{
    div{
        grid-column: span 12;
        text-align: center;
    }
    
    margin-top: 190px;
    
    
}
.dash{
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 1px;
    background-color: #0B0D26;
}
.simple-content{
    margin-top: 100px;
    div{
        grid-column: span 12;
        
    }
}

p{
    box-sizing: border-box;
color: rgb(95, 95, 101);
font-family: open sans, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
hyphens: manual;
line-height: 23.7px;
margin-bottom: 15px;
margin-top: 0px;
outline-color: rgb(95, 95, 101);
outline-style: none;
outline-width: 0px;
overflow-wrap: break-word;
text-transform: none;
}
H1{
    box-sizing: border-box;
color: rgb(24, 29, 78);
font-family: ivypresto-display, serif;
font-size: 57.008px;
font-style: normal;
font-weight: 300;
hyphens: manual;
letter-spacing: normal;
line-height: 57px;
margin-bottom: 26.2237px;
margin-top: 59.2883px;
outline-color: rgb(24, 29, 78);
outline-style: none;
outline-width: 0px;
overflow-wrap: break-word;
text-decoration-color: rgb(24, 29, 78);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-transform: none;
}
h2{
    box-sizing: border-box;
color: rgb(24, 29, 78);
font-family: ivypresto-display, serif;
font-size: 47.008px;
font-style: normal;
font-weight: 300;
hyphens: manual;
letter-spacing: normal;
line-height: 48px;
margin-bottom: 26.3245px;
margin-top: 31.4954px;
outline-color: rgb(24, 29, 78);
outline-style: none;
outline-width: 0px;
overflow-wrap: break-word;
text-decoration-color: rgb(24, 29, 78);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-transform: none;
}
h3{
    box-sizing: border-box;
color: rgb(24, 29, 78);
font-family: ivypresto-display, serif;
font-size: 35.008px;
font-style: normal;
font-weight: 300;
hyphens: manual;
letter-spacing: normal;
line-height: 38.0167px;
margin-bottom: 25.2058px;
margin-top: 32.9075px;
outline-color: rgb(24, 29, 78);
outline-style: none;
outline-width: 0px;
overflow-wrap: break-word;
text-decoration-color: rgb(24, 29, 78);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-transform: none;
}
h4{
    box-sizing: border-box;
color: rgb(24, 29, 78);
font-family: ivypresto-display, serif;
font-size: 28px;
font-style: normal;
font-weight: 300;
hyphens: manual;
letter-spacing: normal;
line-height: 34px;
margin-bottom: 23.24px;
margin-top: 32.2px;
outline-color: rgb(24, 29, 78);
outline-style: none;
outline-width: 0px;
overflow-wrap: break-word;
text-decoration-color: rgb(24, 29, 78);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-transform: none;
}
h5{
    box-sizing: border-box;
color: rgb(24, 29, 78);
font-family: ivypresto-display, serif;
font-size:24px;
font-style: normal;
font-weight: 300;
hyphens: manual;
letter-spacing: normal;
line-height: 29px;
margin-bottom: 20.16px;
margin-top: 31.2px;
outline-color: rgb(24, 29, 78);
outline-style: none;
outline-width: 0px;
overflow-wrap: break-word;
text-decoration-color: rgb(24, 29, 78);
text-decoration-line: none;
text-decoration-style: solid;
text-decoration-thickness: auto;
text-transform: none;
}
@media only screen and (max-width: 650px) {
    .container{
      padding-left: 24px;
      padding-right: 24px;
    }
    .dot{
      margin-right: 25px;
    }
    p{
font-size: 15px;
    }
    h1{
        font-size: 38px;
        line-height: 42px;
margin-bottom: 16px;
margin-top: 30px;
    }
    h2{
        font-size: 30px;
        line-height: 35px;
margin-bottom: 16px;
margin-top: 28px;
    }
    h3{
        font-size: 25px;
        line-height: 29px;
margin-bottom: 16px;
margin-top: 25px;
    }
    h4{
font-size: 22px;
line-height: 27px;
margin-bottom: 15px;
margin-top: 24px;
    }
    h5{
        font-size: 19px;
        line-height: 25px;
margin-bottom: 12px;
margin-top: 20px;
    }
}